<%= javascript_include_tag "https://www.gstatic.com/charts/loader.js" %>
<table>
  <tr>
    <td>
<%= column_chart @minuts_series[0], download: true, label: "Minutos", id: "minutos-por-serie", width: "500px", height: "500px", title: "Tiempo por series(total: #{@total_minuts})", xtitle: "Serie", ytitle: "Minutos" %>
</td>
<td>
<%= column_chart @minuts_series[1], download: true, label: "Capítulos", id: "capitulos-por-serie", width: "500px", height: "500px", title: "Capítulos vistos por series(total: #{@minuts_series[2]})", xtitle: "Serie", ytitle: "Número de capítulos" %>
</td>
</tr>
<tr>
  <td>
<div class="datagrid"><table>
<thead><tr><th>Series vistas</th></tr></thead>
<tbody>
  <% @list_of_views[0].each do |name| %>
    <tr><td><%=name.name%></td></tr>
  <% end %>
</tbody>
</table></div>
</td>
<td>
<div class="datagrid"><table>
<thead><tr><th>Capítulos vistos</th></tr></thead>
<tbody>
  <% @list_of_views[1].each do |name| %>
    <tr><td><%=name.name%></td></tr>
  <% end %>
</tbody>
</table></div>
</td>
</tr>
</table>
