<% provide(:title, "Nueva cuenta hijo") %>
<% provide(:header, "Nueva cuenta hijo") %>

<% if @child.errors.any? %>
  <div id="error_explanation">
    <h6><%= pluralize(@child.errors.count, "error") %> prohibited this series from being saved:</h2>
    <ul>
    <% @child.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= form_for(@child, url: children_new_path(current_user.username)) do |f| %>
  <div class="form-group">
    <%= f.label :nombre %>
    <%= f.text_field :name, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :usuario %>
    <%= f.text_field :username, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :email %>
    <%= f.email_field :email, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :contraseña %>
    <%= f.password_field :password, autocomplete: "off", class: 'form-control' %>
    <% if @validatable %>
      <span class="help-block"><%= @minimum_password_length %> characters minimum</span>
    <% end %>
  </div>

  <div class="form-group">
    <%= f.label :confirme_contraseña %>
    <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control' %>
  </div>

  <%= f.submit "Crear cuenta niño", class: 'btn btn-primary' %>
<% end %>

<%= link_to 'Volver atras', children_path(current_user.username)%>
