<p id="notice"><%= notice %></p>

<h1><%= @news.title %></h1>
<h3> <%= @news.user.name %></h3>


<p>
  <%= @news.content %>
</p>
<div class="btn-group">
<%if current_user.id==@news.user.id%>

    <%=link_to 'Editar', edit_news_path(@news) , :class => 'btn btn-primary', :type => 'button'%>

<%end%>

  <%=link_to 'Atras', news_index_path, :class => 'btn btn-primary', :type => 'button'%>

</div>
