<%= form_for [series, chapter] do |f| %>
  <% if chapter.errors.any? %>
      <div id="error_explanation">
        <div class="alert alert-danger"><h4><%= pluralize(chapter.errors.count, "error") %> no dejaron que el capítulo se guarde </h4></div>

        <ol>
          <% chapter.errors.full_messages.each do |message| %>
              <li><%= message %></li>
          <% end %>
        </ol>
      </div>
  <% end %>

  <div class="form-group">
    <%= f.label :nombre %>
    <%= f.text_field :name, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :numero_de_capitulo %>
    <%= f.number_field :chapter_number, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :duracion %>
    <%= f.number_field :duration, class: "form-control" %>
  </div>

  <% if temporada %>
    <div class="form-group">
      <%= f.label :release_date %>
      <%= f.date_select :release_date, class: "form-control" %>
    </div>

    <div class="form-group">
      <label for="chapter_numero_de_temporada">Numero de temporada</label>
      <input class="form-control" name="season_number" id="chapter_chapter_number" type="number">
    </div>
  <% end %>

<<<<<<< HEAD
  <div class="actions">
    <%= f.submit "Crear capitulo", class: "btn btn-primary" %>
  </div>
=======
    <% if temporada %>
        <div class="form-group">
          <%= f.label :release_date %>
          <%= f.date_select :release_date, class: "form-control" %>
        </div>

        <div class="form-group">
          <label for="chapter_numero_de_temporada">Numero de temporada</label>
          <input class="form-control" name="season_number" id="chapter_chapter_number" type="number">
        </div>
    <% end %>

    <div class="actions">
      <%= f.submit "Crear capitulo", class: "btn btn-primary" %>
    </div>
>>>>>>> social-apis
<% end %>
