<% provide(:title, 'Búsqueda Capitulos') %>
<% provide(:header, 'Búsqueda Capitulos ') %>

<div class="jumbotron search">
  <%= form_tag(search_chapter_path, :method => "get", id: "search-form") do %>

      <div class="row">
        <div class="col-md-3">Titulo:</div>
        <div class="col-md-3">  <%= text_field_tag :nombre, params[:nombre], class: "form-control", placeholder: "Breaking Bad ..." %>
        </div>
      </div>

      <div class="row">
        <div class="col-md-3"> País:</div>
        <div class="col-md-3"><%= text_field_tag :pais, params[:pais], class: "form-control", placeholder: "Chile ..." %>
        </div>
      </div>

      <div class="row">
        <div class="col-md-3"> Serie:</div>
        <div class="col-md-3"><%= text_field_tag :serie, params[:serie], class: "form-control", placeholder: "Rick & Morty ..." %>
        </div>
      </div>

      <div class="row">
        <div class="col-md-3"> Director:</div>
        <div class="col-md-3"><%= text_field_tag :director, params[:director], class: "form-control", placeholder: "stiven spilberg ..." %>
        </div>
      </div>

      <div class="row">
        <div class="col-md-3"> Actor:</div>
        <div class="col-md-3"><%= text_field_tag :actor, params[:actor], class: "form-control", placeholder: "Bradd Pitt ..." %>
        </div>
      </div>

      <div class="row">
        <div class="col-md-3"> Genero:</div>
        <div class="col-md-3"><%= text_field_tag :genero, params[:genero], class: "form-control", placeholder: "Comedia ..." %>
        </div>
      </div>

      <div class="row">
        <div class="col-md-3">Duracion:</div>
        <div class="col-md-3"><%= text_field_tag :duracion, params[:duracion], class: "form-control", placeholder: "24 min..." %>
        </div>
      </div>

      <div class="row">
        <div class="col-md-3"> Ordenar por rating:</div>
        <div class="col-md-3">
          <%= select_tag :rating_order, options_for_select([['Mayor a menor', 1], ['Menor a mayor', 2]]), class: "form-control", include_blank: true %>
        </div>
      </div>

      <br>

      <div class="row">
        <div class="col-md-3"><%= submit_tag "Search", class: 'btn btn-primary pull-left' %></div>
      </div>

  <% end %>

</div>


<% if @chapters.any? %>

    <table class="table">
      <thead>
      <tr>
        <th>Capitulo</th>
        <th>Nombre</th>
        <th>Duracion</th>
        <th>Rating</th>
        <th>Serie</th>
        <th>Temporada</th>
        <th>Usuario</th>
      </tr>
      </thead>
      <tbody>

      <% @chapters.each do |chapter| %>
          <tr>
            <td><%= chapter.chapter_number %></td>
            <td><%= link_to chapter.name, series_chapter_path(chapter.season.series, chapter) %></td>
            <td><%= chapter.duration %></td>
            <td><%= chapter.rating %></td>
            <td><%= chapter.season.series.name %></td>
            <td><%= chapter.season.number %></td>
            <td><%= chapter.season.series.user.username %></td>
          </tr>
      <% end %>
      </tbody>
    </table>
    </div>
    </div>
<% else %>
    <p>No hay capitulos que contengan esos terminos.</p>
<% end %>
