<% provide(:title, 'Búsqueda Capitulos') %>
<% provide(:header, 'Búsqueda Capitulos ') %>

<div class="jumbotron" style="background-color: rgb(255,253,250);outline-width: thick;outline-color: #000000;outline-style: inset;-moz-outline-radius: 6px">
  <%= form_tag(search_chapter_path, :method => "get", id: "search-form") do %>
      <div class="row">
        <div class="col-md-3">Titulo:</div>
        <div class="col-md-3">  <%= text_field_tag :nombre, params[:nombre], width: '100%', placeholder: "Breaking Bad ..." %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3"> País:</div>
        <div class="col-md-3"><%= text_field_tag :pais, params[:pais], placeholder: "Chile ..." %></div>

      </div>
      <div class="row">
        <div class="col-md-3"> Serie:</div>
        <div class="col-md-3"><%= text_field_tag :serie, params[:serie], placeholder: "Rick & Morty ..." %></div>

      </div>

      <div class="row">
        <div class="col-md-3"> Director:</div>
        <div class="col-md-3"><%= text_field_tag :director, params[:director], placeholder: "stiven spilberg ..." %></div>

      </div>
      <div class="row">
        <div class="col-md-3"> Actor:</div>
        <div class="col-md-3"><%= text_field_tag :actor, params[:actor], placeholder: "Bradd Pitt ..." %></div>

      </div>
      <div class="row">
        <div class="col-md-3"> Genero:</div>
        <div class="col-md-3"><%= text_field_tag :genero, params[:genero], placeholder: "Comedia ..." %></div>

      </div>
      <div class="row">
        <div class="col-md-3">Duracion:</div>
        <div class="col-md-3"><%= text_field_tag :duracion, params[:duracion], placeholder: "24 min..." %></div>

      </div>
      <br>
      <div class="row">
        <div class="col-md-3"><%= submit_tag "Search", class: 'pull-left' %></div>


      </div>

  <% end %>

</div>


<% if @chapters.any? %>

    <table class="table">
      <thead>
      <tr>
        <th>Capitulo</th>
        <th>Nombre</th>
        <th>Duracion</th>
        <th>Rating</th>
        <th>Temporada</th>
        <th>Serie</th>
        <th>Usuario</th>
      </tr>
      </thead>
      <% capitulos=@chapters[0] %>
      <tbody>

      <% capitulos.each do |chapter| %>
          <tr>
            <% season=Season.all.find(chapter.season_id) %>
            <% serie2=Series.all.find(season.series_id) %>
            <% user=User.all.find(serie2.user_id) %>
            <td><%= chapter.chapter_number %></td>
            <td><%= chapter.name %></td>
            <td><%= chapter.duration %></td>
            <td><%= chapter.rating %></td>
            <td><%=  serie2.name%></td>
            <td><%= season.number %></td>
            <td><%=  user.name%></td>

          </tr>

      <% end %>
      </tbody>
    </table>
      </div>
      </div>
<% else %>
    <p>No hay capitulos que contengan esos terminos.</p>
<% end %>