<% provide(:title, 'Búsqueda Capitulos') %>
<% provide(:header, 'Búsqueda Capitulos ') %>

<div class="jumbotron" style="background-color: rgb(255,253,250);outline-width: thick;outline-color: #000000;outline-style: inset;-moz-outline-radius: 6px">
  <%= form_tag(search_path, :method => "get", id: "search-form") do %>
      <div class="row">
        <div class="col-md-3">Titulo:</div>
        <div class="col-md-3">  <%= text_field_tag :nombre, params[:nombre], width: '100%', placeholder: "Breaking Bad ..." %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3"> País:</div>
        <div class="col-md-3"><%= text_field_tag :pais, params[:pais], placeholder: "Chile ..." %></div>

      </div>
      <div class="row">
        <div class="col-md-3"> Serie:</div>
        <div class="col-md-3"><%= text_field_tag :serie, params[:serie], placeholder: "Rick & Morty ..." %></div>

      </div>

      <div class="row">
        <div class="col-md-3"> Director:</div>
        <div class="col-md-3"><%= text_field_tag :director, params[:director], placeholder: "stiven spilberg ..." %></div>

      </div>
      <div class="row">
        <div class="col-md-3"> Actor:</div>
        <div class="col-md-3"><%= text_field_tag :actor, params[:actor], placeholder: "Luis jara ..." %></div>

      </div>
      <div class="row">
        <div class="col-md-3"> Genero:</div>
        <div class="col-md-3"><%= text_field_tag :genero, params[:genero], placeholder: "Hombre .........." %></div>

      </div>
      <br>
      <div class="row">
        <div class="col-md-3"><%= submit_tag "Search" ,class: 'pull-left' %></div>


      </div>

  <% end %>

</div>

<% if @chapters.any? %>
    <% @chapters.each do |serie| %>

        <% if @series.count==1 and serie.empty? %>
            <h3>0 resultados</h3>
            <p>No hay series que contengan   <%= params[:search] %>.</p>
        <% else %>
            <% laserie=serie.take %>
            <% puts laserie %>
            <% puts serie.empty? %>

            <% if laserie %>


                <h3> <%= @series.count %> resultados</h3>
                <div class="row">
                  <div class="col-md-12">
                    <% puts 'EN HTML' %>


                    <div class="series-display">
                      <div class="img-preview img-rounded">
                        <a href="<%= "series/#{laserie.id}" %>">
                          <%= image_tag laserie.image.url(:medium) %>
                          <div class="content">
                            <%= "#{laserie.name}"[0..18] %>
                          </div>
                        </a>
                      </div>
                    </div>


            <% end %>
        <% end %>
    <% end %>
    </div>
    </div>
<% else %>
    <p>No hay series que contengan   <%= params[:search] %>.</p>
<% end %>