<% provide(:header,"#{@chapter.name}") %>
<% provide(:title, "#{@chapter.name}") %>

<div class="btn-group pull-right" >
  <%= link_to 'Back', series_chapters_path(@series), class:"btn btn-primary" %>
</div>

<div class="btn-group pull-right" >
  <%= link_to 'Edit', edit_series_chapter_path(@series, @chapter), class:"btn btn-primary" %>
  <%= link_to 'Destroy', series_chapter_path(@series, @chapter), class:"btn btn-danger", method: :delete, data: { confirm: 'Are you sure?' } if can? :destroy, Chapter %>
</div>

<p>
  <strong>Name:</strong>
  <%= @chapter.name %>
</p>

<p>
  <strong>Duration:</strong>
  <%= @chapter.duration %>
</p>

<p>
  <strong>Series:</strong>
  <%= @chapter.series %>
</p>

<p>
  <strong>User:</strong>
  <%= @chapter.user %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @chapter.rating %>
</p>

<%= link_to 'Edit', edit_series_chapter_path(@series, @chapter) %> |
<%= link_to 'Back', series_chapters_path(@series) %>
