<% provide(:title, "#{@chapter.name}") %>

<% content_for :header do %>
  <%= @chapter.name %>
  <% if current_user %>
    <% if @chapter.fans.find_by_id(current_user.id).nil? %>
      <%= link_to favorites_path(chapter_id: @chapter.id), method: :post do %>
        <span class="star glyphicon glyphicon-star-empty" ></span>
      <% end %>
    <% else %>
      <%= link_to favorite_path(chapter_id: @chapter.id), method: :delete do %>
        <span class="star glyphicon glyphicon-star" ></span>
      <% end %>
    <% end %>
  <% end %>
<% end %>

<div class="row">
  <div class="btn-group pull-left">
    <%= link_to 'Ver temporadas', series_chapters_path(@series), class: "btn btn-primary" %>
    <% if @boole %>
        <a class='btn btn-primary' type="button" data-toggle="modal" data-target="#rating-modal">Rating</a>
        <%= link_to 'Marcar capitulo como no visto', unview_series_chapter_path(@series, @chapter), class: "btn btn-primary", method: :post, params: {unview: true} %>
    <% elsif @user %>
        <%= link_to 'Marcar capitulo como visto', unview_series_chapter_path(@series, @chapter), class: "btn btn-primary", method: :post, params: {unview: false} %>
    <% end %>
  </div>
  <% if current_user == @series.user %>
    <div class="btn-group pull-right">
      <div class="dropdown undiv">
        <a class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">Menu<span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li>
            <%= link_to 'Edit', edit_series_chapter_path(@series, @chapter) %>
          </li>
          <li>
            <%= link_to 'Destroy', series_chapter_path(@series, @chapter), method: :delete, data: {confirm: 'Are you sure?'} if can? :destroy, Chapter %>
          </li>
        </ul>
      </div>
    </div>
  <% end %>
</div>

<% if @boole %>
  <div class="modal fade" id="rating-modal" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Otorgar rating a <%= @series.name %></h4>
        </div>
        <div class="modal-body">
          <%= form_tag add_rating_series_chapter_path(@series, @chapter), method: "post" do %>
            <fieldset class="rating">
              <input type="radio" id="star5" name="rating" value="5"/><label class="full" for="star5" title="Genial - 5 estrellas"></label>
              <input type="radio" id="star4" name="rating" value="4"/><label class="full" for="star4" title="Buena - 4 estrellas"></label>
              <input type="radio" id="star3" name="rating" value="3"/><label class="full" for="star3" title="Si pero no - 3 estrellas"></label>
              <input type="radio" id="star2" name="rating" value="2"/><label class="full" for="star2" title="Mala - 2 estrellas"></label>
              <input type="radio" id="star1" name="rating" value="1"/><label class="full" for="star1" title="Que tragedia - 1 estrella"></label>
            </fieldset>
            <div><%= submit_tag 'Entregar rating', class: "btn btn-primary", params: {serie: @series.id} %></div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>

<p>
  <%= @chapter.duration %> minutos, <%= @chapter.rating %> puntos de rating
</p>

<p>
  <strong>Fecha de estreno:</strong> <%= @chapter.release_date %><br/>
  <%= @chapter.description %>
</p>
