<% provide(:header,"#{@chapter.name}") %>
<% provide(:title, "#{@chapter.name}") %>

<div class="btn-group pull-right" >
  <%= link_to 'Back', series_chapters_path(@series), class:"btn btn-primary" %>
</div>

<div class="btn-group pull-right" >
  <%= link_to 'Edit', edit_series_chapter_path(@series, @chapter), class:"btn btn-primary" if current_user == @series.user %>
  <%= link_to 'Destroy', series_chapter_path(@series, @chapter), class:"btn btn-danger", method: :delete, data: { confirm: 'Are you sure?' } if can? :destroy, Chapter %>
</div>

<p>
  <%= @chapter.duration %> minutes
</p>

<p>
  <%= @chapter.rating %> puntos de rating
</p>
