<% provide(:title, 'Series') %>
<% provide(:header,'Series') %>
<% user = current_user %>
<% if user%>
  <div class="btn-group pull-right" >
  <%= link_to 'Crear Serie', new_series_path, class: 'btn btn-primary' %>
  <%= link_to 'Mis Series', series_index_path, class: 'btn btn-primary' %>
  </div>
<% end %>


<form>
  <% text_field_tag :q %>
  <input type="text" value="" name="q" placeholder="Ingrese busqueda...">
  <input type="submit" value="Search">
  <%= link_to 'Busqueda avanzada', search_path, class: 'btn btn-primary' %>
</form>

<% if @search %>
    <h3> <%= @search.total %> results</h3>
<% end %>

<div class="row">
  <div class="col-md-12">
    <%@series.each do |serie|%>
      <% unless serie.nil?%>
        <% unless serie.user.nil?%>
            <%= render 'series/preview', series: serie %>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>
