<% provide(:title, 'Busqueda') %>
<% provide(:header, 'Busqueda') %>



<%= form_tag(search_path, :method => "get", id: "search-form") do %>
    <%= text_field_tag :nombre, params[:nombre], placeholder: "Search Posts" %>
    <%= text_field_tag :pais, params[:pais], placeholder: "Search Posts" %>
    <%= text_field_tag :rating, params[:rating], placeholder: "Search Posts" %>
    <%= submit_tag "Search" %>
<% end %>
<% puts('EN VIEW') %>
<% puts(@series.inspect) %>



<% if @series %>
    <h3> <%= @series.count %> resultados</h3>
    <div class="row">
      <div class="col-md-12">
        <%@series.each do |serie|%>
            <% unless serie.nil?%>
                <% unless serie.user.nil?%>
                    <%= render 'series/preview', series: serie %>
                <% end %>
            <% end %>
        <% end %>
      </div>
    </div>
<% else %>
    <p>No hay series que contengan el titulo  <%= params[:search] %>.</p>
<% end %>