<% provide(:title, 'Búsqueda') %>
<% provide(:header, 'Búsqueda') %>


    <h3> Series</h3> <br>
<%= form_tag(search_path, :method => "get", id: "search-form") do %>

<div class="row">
  <div class="col-md-2">Titulo: </div>  <div class="col-md-2">  <%= text_field_tag :nombre, params[:nombre],width: '100%' , placeholder: "Search Posts" %>
</div>


</div>
    <div class="row">
      <div class="col-md-2"> País: </div>  <div class="col-md-2"><%= text_field_tag :pais, params[:pais], placeholder: "Search Posts" %></div>

    </div>
    <div class="row">
      <div class="col-md-2">Rating: </div>  <div class="col-md-2"><%= number_field_tag :rating1, params[:rating1],class: 'input-mini', placeholder: "Search Posts" ,in: 1..5%><%= number_field_tag :rating2, params[:rating2], placeholder: "Search Posts" ,in: 1..5,class: 'input-small'%></div>

    </div>
    <div class="row">
      <div class="col-md-2"><%= submit_tag "Search" %></div>  <div class="col-md-2"></div>

    </div>



    <% end %>



<% if @series %>
    <h3> <%= @series.count %> resultados</h3>
    <div class="row">
      <div class="col-md-12">
        <%@series.each do |serie|%>
            <% unless serie.nil?%>
                <% unless serie.user.nil?%>
                    <%= render 'series/preview', series: serie %>
                <% end %>
            <% end %>
        <% end %>
      </div>
    </div>
<% else %>
    <p>No hay series que contengan el titulo  <%= params[:search] %>.</p>
<% end %>