<% provide(:title, 'Búsqueda Series') %>
<% provide(:header, 'Búsqueda Series') %>

<div class="jumbotron" style="background-color: rgb(255,253,250);outline-width: thick;outline-color: #000000;outline-style: inset;-moz-outline-radius: 6px">
  <%= form_tag(search_path, :method => "get", id: "search-form") do %>
      <div class="row">
        <div class="col-md-3">Titulo:</div>
        <div class="col-md-3">  <%= text_field_tag :nombre, params[:nombre], width: '100%', placeholder: "Breaking Bad ..." %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3"> País:</div>
        <div class="col-md-3"><%= text_field_tag :pais, params[:pais], placeholder: "Chile ..." %></div>

      </div>
      <div class="row">
        <div class="col-md-3">Rating:</div>
        <div class="col-md-6"><%= number_field_tag :rating1, params[:rating1], class: 'input-mini', placeholder: "1", in: 1..5 %><%= number_field_tag :rating2, params[:rating2], placeholder: "5", in: 1..5, class: 'input-small' %></div>

      </div>

      <div class="row">
        <div class="col-md-3"> Capitulo:</div>
        <div class="col-md-3"><%= text_field_tag :capitulo, params[:capitulo], placeholder: "Pilot ..." %></div>

      </div>

      <div class="row">
        <div class="col-md-3"> Director:</div>
        <div class="col-md-3"><%= text_field_tag :director, params[:director], placeholder: "stiven spilberg ..." %></div>

      </div>
      <div class="row">
        <div class="col-md-3"> Actor:</div>
        <div class="col-md-3"><%= text_field_tag :actor, params[:actor], placeholder: "Luis jara ..." %></div>

      </div>
      <div class="row">
        <div class="col-md-3"> Genero:</div>
        <div class="col-md-3"><%= text_field_tag :genero, params[:genero], placeholder: "Accion ..." %></div>

      </div>
      <br>
      <div class="row">
        <div class="col-md-3"><%= submit_tag "Search", class: 'pull-left' %></div>


      </div>

  <% end %>
  <% series=@series[0] %>


</div>

<% if  series %>
    <h3> <%= series.count %> resultados</h3>
    <div class="row">
      <div class="col-md-12">
          <% series.each do |serie| %>
            <div class="series-display">
            <div class="img-preview img-rounded">
              <a href="<%= "series/#{serie.id}" %>">
                <%= image_tag serie.image.url(:medium) %>
                <div class="content">
                  <%= "#{serie.name}"[0..18] %>
                </div>
              </a>
            </div>
            </div>
          <% end %>

          </div>
    </div>
<% else %>
    <h3>0 resultados</h3>
    <p>No hay series que contengan tales palabras.</p>
<% end %>