<p id="notice"> <%notice%></p>
  <div class="square bg img1">
  </div><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
  <p> <strong>Nombre: <%= @series.name %></strong></p>
<p>
  <strong>Descripción:</strong>
  <%= @series.description %>
</p>
<p>
  <strong>Chile:</strong>
  <%= @series.country %>
</p>

<p>
  <strong>Temporadas:</strong>
  <%= @series.seasons %>
</p>

<p>
  <strong>Duración de capítulos:</strong>
  <%= @series.chapters_duration %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @series.rating %>
</p>

<%= link_to 'Atras', series_index_path %>
<% unless @series.user_id.nil? %>
  <% if current_user.id == @series.user_id %>
    |<%= link_to 'Eliminar', @series, method: :delete, data: { confirm: 'Are you sure?' } %>
    |<%= link_to 'Editar', edit_series_path(@series) %>
  <% end %>
<% end %>
