<p id="notice"><%= notice %></p>
  <div class="square bg img1">
  </div><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
  <p> <strong>Nombre: <%= @series.name %></strong></p>
<p>
  <strong>Description:</strong>
  <%= @series.description %>
</p>
<p>
  <strong>Country:</strong>
  <%= @series.country %>
</p>

<p>
  <strong>Seasons:</strong>
  <%= @series.seasons %>
</p>

<p>
  <strong>Chapters duration:</strong>
  <%= @series.chapters_duration %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @series.rating %>
</p>

<%= link_to 'Edit', edit_series_path(@series) %> |
<%= link_to 'Back', series_index_path %>
<%if current_user.id == @series.user_id%>
  |<%= link_to 'Destroy', @series, method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>
