<% provide(:title, "#{@series.name}") %>

<% content_for :header do %>
  <%= @series.name %>
  <% if current_user %>
    <% if @series.fans.find_by_id(current_user.id).nil? %>
      <%= link_to favorites_path(series_id: @series.id), method: :post do %>
        <span class="star glyphicon glyphicon-star-empty" ></span>
      <% end %>
    <% else %>
      <%= link_to favorite_path(series_id: @series.id), method: :delete do %>
        <span class="star glyphicon glyphicon-star" ></span>
      <% end %>
    <% end %>
  <% end %>
<% end %>
<div class="row">
  <div class="btn-group pull-left">
    <%= link_to 'Capitulos', series_chapters_path(@series), class: 'btn btn-primary' %>
    <% if @boole %>
      <a class='btn btn-primary' type="button" data-toggle="modal" data-target="#rating-modal">Rating</a>
      <%= link_to 'Marcar serie como no vista', unview_series_path(@series), method: :post, class: "btn btn-primary", params: {serie: @series.id, unview: true} %>
    <% elsif @user %>
      <%= link_to 'Marcar serie como vista', unview_series_path(@series), method: :post, class: "btn btn-primary", params: {serie: @series.id, unview: false} %>
    <% end %>
  </div>

  <div class="btn-group pull-right">
    <div class="dropdown undiv">
      <a class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">Menu<span class="caret"></span></a>
      <ul class="dropdown-menu">
        <li><%= link_to 'Recomendar', recommend_series_path(@series) %></li>
        <% if can?(:destroy, Series) %>
            <li>
              <%= link_to 'Eliminar', @series, method: :delete, data: {confirm: 'Are you sure?'} %>
            </li>
        <% end %>
        <% if current_user && current_user.id == @series.user_id %>
            <li>
              <%= link_to 'Editar', edit_series_path(@series) %>
            </li>
            <li>
              <a type="button" data-toggle="modal" data-target="#myModal">Agregar información</a>
            </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>

<% if @boole %>
  <div class="modal fade" id="rating-modal" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Otorgar rating a <%= @series.name %></h4>
        </div>
        <div class="modal-body">
          <%= form_tag add_rating_series_path(@series), method: "post" do %>
            <fieldset class="rating">
              <input type="radio" id="star5" name="rating" value="5"/><label class="full" for="star5" title="Genial - 5 estrellas"></label>
              <input type="radio" id="star4" name="rating" value="4"/><label class="full" for="star4" title="Buena - 4 estrellas"></label>
              <input type="radio" id="star3" name="rating" value="3"/><label class="full" for="star3" title="Si pero no - 3 estrellas"></label>
              <input type="radio" id="star2" name="rating" value="2"/><label class="full" for="star2" title="Mala - 2 estrellas"></label>
              <input type="radio" id="star1" name="rating" value="1"/><label class="full" for="star1" title="Que tragedia - 1 estrella"></label>
            </fieldset>
            <div><%= submit_tag 'Entregar rating', class: "btn btn-primary", params: {serie: @series.id} %></div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>

<div class="row">
  <div class="series-profile col-md-8">
    <div class="series-profile-img img-thumbnail">
      <%= image_tag @series.image.url(:medium) %>
    </div>
    <div class="series-info">
      <p>
        <%= @series.country %>, <%= @series.seasons %>
        <% if @series.seasons == 1 %> temporada
        <% else %> temporadas
        <% end %>,
        <%= @series.chapters_duration %> minutos por capítulo <br />
        <strong>Rating: </strong><%= @series.rating %> <br />
        <strong>Fecha de estreno: </strong> <%= @series.release_date %> <br />
        <strong>Actores: </strong> <%= @actors %> <br />
        <strong>Directores: </strong> <%= @directors %> <br />
        <strong>Generos: </strong> <%= @genders %>
      </p>
      <p>
        <%= @series.description %>
      </p>
    </div>
  </div>

  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Agregar actores/directores/géneros</h4>
        </div>
        <div class="modal-body">
          <%= form_tag(add_actor_series_path(@series)) do %>
            Actores:
            <%= select_tag 'actor', options_from_collection_for_select(Actor.all, 'id', 'name') %>
            <%= submit_tag 'Agregar', class: 'btn btn-primary' %>
          <% end %>
          <%= form_tag(add_director_series_path(@series)) do %>
            Directores:
            <%= select_tag 'director', options_from_collection_for_select(Director.all, 'id', 'name') %>
            <%= submit_tag 'Agregar', class: 'btn btn-primary' %>
          <% end %>
          <%= form_tag(add_gender_series_path(@series)) do %>
            Generos:
            <%= select_tag 'gender', options_from_collection_for_select(Gender.all, 'id', 'name') %>
            <%= submit_tag 'Agregar', class: 'btn btn-primary' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <div class="series-comments col-md-4">
    <h3> Comentarios </h3>
    <table class="table">
      <thead>
      <tr>
        <th>
          Usuario
        </th>
        <th>
          Comentario
        </th>
        <% if can? :destroy, Comment %>
            <th colspan="1">
            </th>
        <% end %>
      </tr>
      </thead>
      <tbody>
      <% @comments.each do |comment| %>
          <tr>
            <td>
              <%= comment.user.username %>
            </td>
            <td>
              <% if comment.spoiler %>
                <button class="spoiler_button" data-toggle="spoiler<%= comment.id %>">Spoiler</button> <span id="spoiler<%= comment.id %>" class="spoiler"><%= comment.content %></span>
              <% else %>
                <%= comment.content %>
              <% end %>
            </td>
            <% if current_user %>
              <td>
                <% if !current_user.likes.find_by_id(comment.id).nil? %>
                  <%= link_to comment_like_series_path(@series, comment: comment.id, like: false), method: :post do %>
                    <span class="glyphicon glyphicon-thumbs-down" ></span>
                  <% end %>
                <% else %>
                  <%= link_to comment_like_series_path(@series, comment: comment.id, like: true), method: :post do %>
                    <span class="glyphicon glyphicon-thumbs-up" ></span>
                  <% end %>
                <% end%>
                <br /> <strong><%= comment.likes.count %></strong> likes
              </td>
              <td>
                <% if can?(:destroy, Comment) || comment.user_id == current_user.id %>
                  <%= link_to 'x', comment_series_path(@series, comment: comment.id), method: :delete, class: "btn btn-danger" %>
                <% end %>
                <% if can?(:manage, Comment) && !comment.spoiler %>
                  <%= link_to 'Spoiler', comment_series_path(@series, comment: comment.id, is_spoiler: true), method: :patch, class: "btn btn-primary" %>
                <% end %>
                <% if can?(:manage, Comment) && comment.spoiler %>
                  <%= link_to 'Unspoiler', comment_series_path(@series, comment: comment.id, is_spoiler: false), method: :patch, class: "btn btn-primary" %>
                <% end %>
              </td>
            <% else %>
              <td>
                <strong><%= comment.likes.count %></strong> likes
              </td>
            <% end %>
          </tr>
      <% end %>
      </tbody>
    </table>

    <%= form_tag comment_series_path(@series), class: "form-inline" do %>
        <%= text_field_tag :content, '', class: 'form-control' %>
        <%= submit_tag 'comentar', class: 'btn btn-default' %>
    <% end %>
  </div>
</div>
