<% provide(:title, "#{@series.name}") %>

<% content_for :header do %>
  <%= @series.name %>
  <% if current_user %>
    <% if @series.fans.find_by_id(current_user.id).nil? %>
      <%= link_to favorites_path(series_id: @series.id), method: :post do %>
        <span class="star glyphicon glyphicon-star-empty" ></span>
      <% end %>
    <% else %>
      <%= link_to favorite_path(series_id: @series.id), method: :delete do %>
        <span class="star glyphicon glyphicon-star" ></span>
      <% end %>
    <% end %>
  <% end %>
<% end %>

<div class="btn-group pull-left">
  <%= link_to 'Capitulos', series_chapters_path(@series), class: 'btn btn-primary' %>
</div>

<div class="btn-group pull-right">
  <%= link_to 'Recomendar', recommend_series_path(@series), class: 'btn btn-primary' %>
  <%= link_to 'Atras', series_index_path, class: "btn btn-primary" %>
  <% if can?(:destroy, Series) %>
      <%= link_to 'Eliminar', @series, method: :delete, class: "btn btn-danger", data: {confirm: 'Are you sure?'} %>
  <% end %>
  <% if current_user && current_user.id == @series.user_id %>
      <%= link_to 'Editar', edit_series_path(@series), class: 'btn btn-primary' %>
  <% end %>
</div>

<div class="btn-group pull-right">
  <% if @boole %>
      <%= button_to 'Marcar serie como no vista', unview_series_path(@series), class: "btn btn-primary", params: {serie: @series.id, unview: true} %>
      <%= form_tag add_rating_series_path(@series), method: "post" %>
      <fieldset class="rating">
        <input type="radio" id="star5" name="rating" value="5"/><label class="full" for="star5" title="Genial - 5 estrellas"></label>
        <input type="radio" id="star4" name="rating" value="4"/><label class="full" for="star4" title="Buena - 4 estrellas"></label>
        <input type="radio" id="star3" name="rating" value="3"/><label class="full" for="star3" title="Si pero no - 3 estrellas"></label>
        <input type="radio" id="star2" name="rating" value="2"/><label class="full" for="star2" title="Mala - 2 estrellas"></label>
        <input type="radio" id="star1" name="rating" value="1"/><label class="full" for="star1" title="Que tragedia - 1 estrella"></label>
      </fieldset>
      <div><%= submit_tag 'Entregar rating', params: {serie: @series.id} %></div>
  <% elsif @user %>
      <%= button_to 'Marcar serie como vista', unview_series_path(@series), class: "btn btn-primary", params: {serie: @series.id, unview: false} %>
  <% end %>
</div>
</div>

<div class="row">
  <div class="series-profile col-md-5">
    <div class="series-profile-img img-thumbnail">
      <%= image_tag @series.image.url(:medium) %>
    </div>
    <div class="series-info">
      <p>
        <%= @series.country %>, <%= @series.seasons %>
        <% if @series.seasons == 1 %> temporada
        <% else %> temporadas
        <% end %>,
        <%= @series.chapters_duration %> minutos por capítulo
      </p>
      <p>
        <%= @series.description %>
      </p>
      <p>
        <strong>Fecha de estreno: </strong> <%= @series.release_date %> <br />
        <%= @series.rating %> puntos de rating
      </p>
    </div>
  </div>

  <div class="series-comments col-md-5">
    <h3> Comentarios </h3>
    <table class="table">
      <thead>
      <tr>
        <th>
          Usuario
        </th>
        <th>
          Comentario
        </th>
        <% if can? :destroy, Comment %>
            <th colspan="1">
            </th>
        <% end %>
      </tr>
      </thead>
      <tbody>
      <% @comments.each do |comment| %>
          <tr>
            <td>
              <%= comment.user.username %>
            </td>
            <td>
              <% if comment.spoiler %>
                <button class="spoiler_button" data-toggle="spoiler<%= comment.id %>">Spoiler</button> <span id="spoiler<%= comment.id %>" class="spoiler"><%= comment.content %></span>
              <% else %>
                <%= comment.content %>
              <% end %>
            </td>
            <% if current_user %>
              <td>
                <% if can?(:destroy, Comment) || comment.user_id == current_user.id %>
                  <%= link_to 'x', comment_series_path(@series, comment: comment.id), method: :delete, class: "btn btn-danger" %>
                <% end %>
                <% if can?(:manage, Comment) && !comment.spoiler %>
                  <%= link_to 'Spoiler', comment_series_path(@series, comment: comment.id, is_spoiler: true), method: :patch, class: "btn btn-primary" %>
                <% end %>
                <% if can?(:manage, Comment) && comment.spoiler %>
                  <%= link_to 'Unspoiler', comment_series_path(@series, comment: comment.id, is_spoiler: false), method: :patch, class: "btn btn-primary" %>
                <% end %>
              </td>
            <% end %>
          </tr>
      <% end %>
      </tbody>
    </table>

    <%= form_tag comment_series_path(@series), class: "form-inline" do %>
        <%= text_field_tag :content, '', class: 'form-control' %>
        <%= submit_tag 'comentar', class: 'btn btn-default' %>
    <% end %>
  </div>
</div>
