<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <div class="navbar-header">
      <%= link_to 'TvSeries4U', root_path, class: 'navbar-brand' %>
    </div>
    <nav>
      <ul class="nav navbar-nav">
        <li><%= link_to 'Noticias', news_index_path %></li>
        <li><%= link_to 'Usuarios', users_path if current_user and can? :manage, User %></li>
      </ul>
      <ul class="nav navbar-nav pull-right">
        <% if user_signed_in? %>
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                <% if can? :manage, User %>
                    <%= current_user.name + ' (admin)' %>
                <% else %>
                    <%= current_user.name %>
                <% end %>
                <span class="caret"></span>
              </a>
              <ul class="dropdown-menu" role="menu">
                <li><%= link_to 'Ver perfil', profile_path(current_user.username) %></li>
                <li><%= link_to 'Favoritos', favorites_path %></li>
                <li><%= link_to 'Estadisticas', stats_path %></li>
                <li><%= link_to 'Administrar cuentas niño', children_path(current_user.username) if current_user and can? :manage_children, User %></li>
                <li><%= link_to 'Salir de la aplicación', destroy_user_session_path, method: :delete %></li>
              </ul>
            </li>
        <% else %>
            <li><%= link_to 'Ingresar', new_user_session_path %></li>
            <li><%= link_to 'Registrarse', new_user_registration_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>
