<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= render 'layouts/shim' %>
</head>

<body>
<script>
    /**
     * Created by mati on 23-06-17.
     */
    window.fbAsyncInit = function () {
        FB.init({
            appId: '437146823325434',
            xfbml: true,
            version: 'v2.9'
        });
        FB.AppEvents.logPageView();
    };

    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) {
            return;
        }
        js = d.createElement(s);
        js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
</script>
<%= render 'layouts/header' %>

<div class="jumbotron">
  <div class="container">
    <div class="row" id="flash-messages">
      <% flash.each do |message_type, message| %>
          <div class="alert alert-<%= message_type %>"><%= message %></div>
      <% end %>
    </div>
    <div class="row">
      <div class="page-header" style="text-align: center"><h2><%= yield :header %></h2></div>
    </div>
    <div class="row">
      <%= yield %>
    </div>
  </div>
</div>

<%= render 'layouts/footer' %>

</body>
</html>
